<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ele5620.deepm.dao.EssayMapper">
    <sql id="selectFields">
        sid, tid, essayid, title, content, grade, level, status, comment , submittime, deadline
    </sql>
    <sql id="insertFields">
        sid, tid, title, content, grade, level, status, comment , submittime, deadline
    </sql>

    <select id="selectByEssayId" resultType="Essay">
        select <include refid="selectFields"></include>
        from essay
        where essayid = #{essayid}
    </select>

    <select id="selectBySid" resultType="Essay">
        select <include refid="selectFields"></include>
        from essay
        where sid = #{sid}
    </select>

    <select id="selectByTid" resultType="Essay">
        select <include refid="selectFields"></include>
        from essay
        where tid = #{tid}
    </select>

    <select id="selectByTitle" resultType="Essay">
        select <include refid="selectFields"></include>
        from essay
        where title like #{title}
    </select>

    <insert id="insertEssay" parameterType="Essay" keyProperty="essayid">
        insert into essay (<include refid="insertFields"></include>)
        values(#{sid}, #{tid}, #{title}, #{content}, #{grade}, #{level}, #{status}, #{comment} , #{submitTime}, #{deadline})
    </insert>

    <update id="updateGrade" parameterType="Essay" keyProperty="essayid">
        update essay set grade = #{grade} where essayid = #{essayid}
    </update>

    <update id="updateComment" parameterType="Essay" keyProperty="essayid">
        update essay set comment = #{comment} where essayid = #{essayid}
    </update>

    <delete id="deleteEssay" parameterType="Essay">
        delete from essay where essayid = #{essayid}
    </delete>
</mapper>